Repository vitoladev/typescript-graphql-server-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: graphql schema with hello world
  src/graphql/index.ts
  src/graphql/query.ts
Due: eslint --fix

feat: add mercurius and altair with custom context
  .eslintrc.json
  package.json
  src/graphql/context/index.ts
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: jest config file
  jest.config.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: tsconfig to jest
  tsconfig.json
Due: prettier --write

feat: execute graphql helper
  __tests__/index.ts
Due: eslint --fix

test: hello world test
  __tests__/hello.test.ts
Due: eslint --fix

ci: setup github actions to build and test
  .github/workflows/build.yml
Due: prettier --write

Update README.md
  README.md
Due: none

chore(deps): update dependencies to the latest version
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

feat(graphql): use nexus to build typescript safety on mutations and queries
  src/graphql/index.ts
  src/graphql/query.ts
  src/modules/user/user.type.ts
Due: eslint --fix

fix(graphql): executeGraphQL test sample on gql 16+
  __tests__/index.ts
  package.json
Due: eslint --fix, prettier --write

fix: path prefix
  src/graphql/index.ts
Due: eslint --fix

chore: update to fastify v4
  .github/workflows/build.yml
  package.json
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: conventional commit
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  package.json
  yarn.lock
Due: prettier --write

chore: add cors and helmet
  package.json
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: upgrade fastify from 4.0.0 to 4.2.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade mercurius from 10.0.0 to 10.1.0
  package.json
  yarn.lock
Due: prettier --write

chore: wip
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

ci: run snyk to check for vulnerabilities
  .github/workflows/build.yml
Due: prettier --write

fix: set query depth to 4
  src/index.ts
  yarn.lock
Due: eslint --fix

fix: add no introspection schema rule
  src/index.ts
Due: eslint --fix

fix: upgrade fastify from 4.2.0 to 4.2.1
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade @fastify/cors from 8.0.0 to 8.1.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade graphql from 16.5.0 to 16.6.0
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade mercurius from 10.1.0 to 10.1.1
  package.json
  yarn.lock
Due: prettier --write

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{yml,json}
